<div id="header">
    <div id="logo">
        <h1><a href="/">{{page_name}}<span class="logo_colour">_light</span></a></h1>
        <h2>Simple. Contemporary. Website Template.</h2>
    </div>
    <div id="menubar">
        <ul id="menu">
            <li><a href="/">Home</a></li>
            <li><a href="/hotels">Hotels</a></li>
            <li><a href="/visitors">Visitors</a></li>
            <li><a href="/add_visitor_to_room">Add visitor to room</a></li>
            <li><a href="/another_page">Another Page</a></li>
            <li><a href="/contacts">Contact Us</a></li>
        </ul>
    </div>
</div>